<!doctype html>
<html lang="en">
<head>
	<title>Yelp Camp</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- bootstrap -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
	<!-- bootstrap navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Yelp Camp</a>
			</div>
			<div class="navbar-collapse collapse navbar-right">
				<ul class="nav navbar-nav">
					<li><a href="/">Login</a></li>
					<li><a href="/">Sign up</a></li>
					<li><a href="/">Sign out</a></li>
				</ul>
			</div>
		</div>
	</nav>